
.folderDiv  {
/* border: 1px solid green; */
float: left;
}

.folderStyle  {
/* color: brown; */
font-size: 2em;
}

.nav-aside {
padding-left: 10px;
flex-direction: column;
display:flex;
flex: 1;
/* border: 1px solid blue; */
}


